<!DOCTYPE html>
<html>
<head>
    <title>Gadgets</title>
</head>
<body>
    <select id="link">
        <option value="#">--OPTIONS--</option>
        <option value="http://127.0.0.1:5000/start">Start</option>
        <option value="http://127.0.0.1:5000/gadgets">Gadgets</option>
        <option value="http://127.0.0.1:5000/account">Account</option>
        <option value="http://127.0.0.1:5000/login">Logout</option>
    </select>
    <h1>Add or delet Gadgets and turn them on/off</h1>
    <p>Your Gadgets:</p>

    <table>
        {% for row in data %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
            <td>
                <form action="/delete-gadget" method="post">
                    <input type="hidden" name="gadget" value="{{ row[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script>
        document.getElementById("link").onchange = function () {
            window.location.href = this.value;
        };
    </script>

    <form action="/gadgets" method="post">
        <label for="gadget">New Item:</label>
        <input type="text" name="gadget" id="gadget">
        <button type="submit">Add</button>
    </form>
</body>
</html>