<!DOCTYPE html>
<html>
<head>
    <title>Gadgets</title>
</head>
<body>
    <select id="link">
        <option value="#">--OPTIONS--</option>
        <option value="http://127.0.0.1:5000/start">Start</option>
        <option value="http://127.0.0.1:5000/gadgets">Gadgets</option>
        <option value="http://127.0.0.1:5000/account">Account</option>
        <option value="http://127.0.0.1:5000/login">Logout</option>
    </select>
    <h1>Add or delet Gadgets and turn them on/off</h1>
    <p>Your Gadgets:</p>

    <script>
        document.getElementById("link").onchange = function () {
            window.location.href = this.value;
        };
    </script>

    <ul>
        {% for item in items %}
        <li>
            {{ item }} <form action="/delete" method="post">
                <input type="hidden" name="gadget" value="{{ loop.index0 }}">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <form action="/" method="post">
        <label for="item">New Item:</label>
        <input type="text" name="item" id="item">
        <button type="submit">Add</button>
    </form>
</body>
</html>