<!DOCTYPE html>
<html>
<head>
    <title>Login to PyMote</title>
</head>
<body>
    <h1>Welcome to PyMote</h1>
    <p>This is the Login Form</p>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="http://127.0.0.1:5000/register">Click here to Register</a>
</body>
</html>