<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Registration</h1>
    <p>This is the Registration Form</p>
    <form method="POST" action="{{ url_for('register') }}">
        <label>Username:</label>
        <input type="text" name="username"><br><br>

        <label>Password:</label>
        <input type="password" name="password"><br><br>

        <input type="submit" value="Register">
    </form>
    <a href="http://127.0.0.1:5000/login">Click here to get back to Login</a>
</body>
</html>